<div class="line">
  <div #cursor class="cursor"></div>
</div>
<div class="control-group">
  <div class="btn" (click)="playTween($event)">play()</div>
  <div class="btn" (click)="pauseTween($event)">pause()</div>
  <div class="btn" (click)="resumeTween($event)">resume()</div>
  <div class="btn" (click)="reverseTween($event)">reverse()</div>
  <div class="btn" (click)="play5Tween($event)">play()</div>
  <div class="btn" (click)="reverse1Tween($event)">reverse(1)</div>
  <div class="btn" (click)="seek3Tween($event)">seek(3)</div>
  <div class="btn" (click)="timeScale05Tween($event)">timescale(0.5)</div>
  <div class="btn" (click)="timeScale1Tween($event)">timescale(1)</div>
  <div class="btn" (click)="timeScale2Tween($event)">timescale(2)</div>
  <div class="btn" (click)="restartTween($event)">restart()</div>
</div>
