.box {
  position: relative;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  margin: 0 0 10px 0;
}

.demo {
  width: 692px;
  height: auto;
  background-color: #333;
  padding: 8px;
}

.box1 {
  background-color: #00bcd4;
}

.box2 {
  background-color: #03a9f4;
}

.box31 {
  margin: 0;
  height: 5px;
  background-color: #2196f3;
}

.box3 {
  background-color: #2196f3;
}

.box4 {
  background-color: #3f51b5;
}

.box5 {
  background-color: #9c27b0;
}

.box6 {
  cursor: pointer;
  background-color: #f44336;
}

.box6 {
  background-color: #f44336;
}

.box7 {
  cursor: pointer;
  background-color: #ff5722;
}
